SUPABASE_URL=https://moolaxsrduqwyabzhkub.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vb2xheHNyZHVxd3lhYnpoa3ViIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTA5NjUxOCwiZXhwIjoyMDk0NjcyNTE4fQ.s5lmNyVzbFaM6CS_CTbZEKpsaFlLDx1oZYqze2moNZA
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vb2xheHNyZHVxd3lhYnpoa3ViIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwOTY1MTgsImV4cCI6MjA5NDY3MjUxOH0.aLppOPhud2KnSYYhTYW7noeR_7vExMePm2hsmSQzcHU
JWT_SECRET=T$njkG@9tBL$RXlvnd13qCucTSCohi1YtTZLgC$K1x^=
PORT=3001

